@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div id="content">

    <div id="content-header">
        <div id="breadcrumb"> <a href="~/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
    </div>
    <div class="container-fluid">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>

